@import "variables"; // чтобы переменные не подсвечивались

// секция для размещения общих для сайта стилей

.btn { font-weight: 700; }

.page-header {
  display: block;
  font-size: 14px; font-weight: 700; text-transform: uppercase;
  height: initial;
  .r1 {
    display: flex; align-items: center;
    height: 100px;
    .r1-inner {
      border-bottom: 1px solid $gray-dark;
      width: 100%;
    }
  }
  .r2 {
    display: flex; align-items: center;
    height: 0;
  }
  .branding {
    justify-content: flex-start; align-items: center;
    height: 100px;
    img { height: 66px; }
  }
  .global {
    display: none;
    opacity: .2;
    transition: opacity 150ms;
    margin-left: 1rem;
    &:hover { opacity: .5; }
    img { max-height: 40px; }
  }
  .search {
    .form-item {
      margin-bottom: 0;
      input { width: 100%; }
    }
    .btn { margin: 0; }
  }
  .language-switch, .cart-link {
    font-size: 1.5rem;
    position: relative;
    a { color: inherit; }
    .badge { font-size: 10px; }

    @media #{$pad} {
      font-size: 1.1rem;
    }
  }
  .contact a {
    color: $menu-item-color; font-size: $font-size-base;
    &:hover { color: $menu-item-hover-color; }
  }
  .secondary-menu.menu > li {
    > a { padding-top: 0; padding-bottom: 0; }
    &:not(:last-child) > a { border-right: 2px solid #606060; }
  }


  .nav-mobile-label { display: flex; justify-content: right; }
  .main-menu.level-1 > li.first a {
    padding-left: 0;
  }

  @media #{$pad} {
    .branding img { height: 76px; }
    .global { display: block; }
    .r2 { height: 68px; }
  }
}
.menu-mobile-link { border-top: 1px solid $menu-mobile-divider-clr; }


.page-title {
  text-transform: uppercase;
}

.page-footer {
  .branding {
    margin-bottom: 1.5rem;
    .image { width: 55px; }
  }
  .menu {
    font-size: $font-size-small; font-weight: 700; text-transform: uppercase;
    a {
      color: inherit;
      display: inline-block;
      padding: .5rem 0;
      transition: color 150ms;
      &:hover, &:focus {
        color: $text-light;
      }
    }
    .ctooltip { margin-top: .1rem; }
    .contacts { text-transform: lowercase; }
  }

  @media #{$pad} {
    .menu { max-width: 270px; }
  }
  @media #{$tablet} {
    .menu { max-width: 300px; }
  }
}

.product-teaser {
  padding: 0 2rem;
  .p-label {
    color: $text-color; font-size: $font-size-h2; font-weight: 800; text-align: center;
    margin: 1rem 0;
  }
  .p-image {
    margin-bottom: 1rem;
    position: relative;
    height: 250px;
    .image {
      height: 100%;
      max-width: 65%; // край предмета по середине с учётом правой отбивки
      img {
        display: block;
        object-fit: contain;
        width: 100%; height: 100%;
      }
    }
  }
  .p-stickers {
    position: absolute; right: 0; top: 0; z-index: 1;
    width: 24%;
  }
  .p-sticker {
    margin-top: .5rem;
    //max-width: 78px;
  }
  .p-description {
    color: $text-muted; font-size: $font-size-large; text-align: center;
    margin-bottom: 1rem;
  }
  .p-tares {
    color: $text-color; text-align: center;
    display: flex; justify-content: center;
  }
  .p-tare {
    border: 1px solid $gray-light; border-radius: 10px;
    margin: 0 3px; padding: .2rem .5rem;
  }

  @media #{$pad} {
    .p-label { font-size: $font-size-h3; }
    .p-description { font-size: $font-size-base; }
  }
  @media #{$laptop} {
    .p-label { font-size: $font-size-h4; }
    .p-image { height: 260px; }
    .p-description { font-size: $font-size-small; }
    .p-tares { font-size: $font-size-small; }
    .p-stickers { width: 27%; }
  }
}

// - Forms -------------------------------------------------------------------------------------------------------------
.form-item {
  .form-text,
  .form-select {
    border-top-color: transparent!important; border-left-color: transparent!important; border-right-color: transparent!important;
  }
}

// - Диалог ------------------------------------------------------------------------------------------------------------
.ui-widget-overlay {
  background: #000;
  opacity: .7;
}
.ui-widget { font-size: initial; font-family: inherit; }
.ui-dialog {
  color: #fff;
  background-color: $gray-dark;
  background-image: none;
  border: none;
  .btn {
    @include button-variant($text-color, #fff, #fff);
  }
  .form-item {
    .form-text,
    .form-textarea,
    .form-select {
      &, &::placeholder { color: #fff; }
    }
    .form-select option { background: $gray-dark; }
  }
  .ui-dialog-titlebar {
    background: none;
    border: none;
    color: inherit; font-size: $font-size-large; text-transform: uppercase;
    padding: 1rem 2rem;
  }
  .ui-dialog-content {
    background: none;
    color: inherit;
    overflow: hidden;
    padding: 0 2rem 1rem;
  }
  .ui-dialog-titlebar-close {
    background-image: none;
    color: inherit;
    right: 1rem; top: 45%;
  }
}

// - Views -------------------------------------------------------------------------------------------------------------
.view {
  &.view-catalog {
    .view-content { @include row(); }
    .views-row {
      @include col('xs', 12); @include col('md', 6); @include col('xl', 4);
      margin-bottom: 2rem;
    }
  }
  .pager {
    margin: 2rem 0;
    li.pager-ellipsis,
    li.pager-current {
      display: inline-flex; align-items: center; justify-content: center;
      height: 40px; width: 40px;
      margin: 0; padding: 0;
    }
    li.pager-previous,
    li.pager-first,
    li.pager-next,
    li.pager-last,
    li.pager-item {
      margin: 0; padding: 0;
      a {
        border-radius: 5px;
        display: inline-flex; align-items: center; justify-content: center;
        color: $text-color;
        height: 40px; width: 40px;
        transition: all 200ms;
        &:hover {
          box-shadow: 1px 3px 17px rgba(0, 0, 0, 0.2);
          transform: translateY(-2px);
        }
      }
    }
  }
}


#back-to-top {
  background: #fff;
  border-radius: 50px;
  border: .5rem solid #DB08128A;
  .icon {
    color: $brand-red; font-size: 3rem;
  }

  @media #{$pad} {
    .icon { font-size: 2rem; }
  }
}

.hover-zoom {
  transition: all 200ms;
  &:hover { transform: scale(1.02);  }
}
.hover-raise {
  transition: all 200ms;
  &:hover {
    transform: translateY(-2px);
  }
}

.form-item-fz152-agreement {
  color: $gray-light; font-size: $font-size-small;
  margin-top: 2rem;
  a {
    color: inherit; text-decoration: underline;
    transition: color 200ms;
    &:hover { color: $gray-lightest; }
  }
}
