@import "variables"; // чтобы переменные не подсвечивались

// секция оформления отдельных страниц

.node-product.node-full {
  h1 { margin: 0 0 2rem 0; }
  .node-row { margin-bottom: 2rem; }
  .node-images {
    height: 300px;
    .images-thumbs {
      display: inline-block;
      width: 25%; height: 100%;
      padding-right: 1rem;
      .slider-thumbs,
      .swiper { height: 100%; }
      .image {
        display: flex; justify-content: center;
        height: 100%;
        padding: .5rem;
      }
      img { height: 100%; }
    }
    .images {
      display: inline-block; vertical-align: top;
      width: 72%;
      position: relative;
      .image { width: 70%; }
    }
    .image-stickers {
      position: absolute; right: 0; top: 0; z-index: 1;
    }
    .image-sticker {
      margin-top: 1rem;
      width: 70px;
    }
  }
  .field {
    border-bottom: 1px solid $gray-darkest;
    .field-label {
      color: $text-color; font-weight: 700;
      margin-bottom: 12px;
    }
    .field-items {
      margin-bottom: 1rem;
      p { margin-top: 0; }
    }
  }
  .node-files {
    display: flex; flex-wrap: wrap;
    margin-bottom: 2rem;
    .file { margin: 0 1rem 0.5rem 0; }
  }
  .node-actions {
    display: flex; flex-wrap: wrap; justify-content: center;
    .action { margin: 0 1rem 1rem 0; }
    .action:first-child { width: 100%; }
    .action:first-child a { width: 100%; }
  }

  @media #{$pad} {
    .node-images {
      height: 425px;
      .images { width: 55%; }
    }
    .node-actions {
      flex-wrap: nowrap; justify-content: start;
      .action:first-child { width: initial; }
      .action:first-child a { width: initial; }
    }
  }
  @media #{$tablet} {
    .field { margin-bottom: 2rem; }
    .node-row { margin-bottom: 4rem; }
    .node-images {
      height: 345px;
      .images { width: 72%; }
    }
    .image-sticker { width: 100px; }
  }
}

// - админка -----------------------------------------------------------------------------
.page-admin-content {
  .exposed-filters > .form-wrapper {
    display: flex;
    > .form-actions { margin-top: 1rem; }
  }
  table { width: 100%; }
}

.page-node-add,
.page-node-edit {
  form { margin-bottom: 3rem; }
  .form-checkboxes {
    display: flex; flex-wrap: wrap;
  }
  .form-type-checkbox { margin-right: 1rem; }
  .field-widget-image-image {
    table { width: 100%; }
  }
  #edit-body-und-0-format { display: none; }
  fieldset {
    border-color: $gray-light;
    .fieldset-description { margin-bottom: 1rem; }
  }
}
