@import "../../cbtheme/css/variables"; // продублировано из styles.scss, чтобы переменные не подсвечивались

$content-well-max-width:   1580px;
$content-well-max-width-2: 1240px;

// шрифт
//
$font-url:                'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap';
$page-bkg:                #F5F5F5;

$brand-blue:              #213A6E;
$brand-cyan:              #5bc0de;
$brand-green:             #00913F;
$brand-orange:            #f08200;
$brand-red:               #DA0009;

$brand-primary:           $brand-blue;
$brand-info:              $brand-cyan;
$brand-success:           $brand-green;
$brand-warning:           $brand-orange;
$brand-danger:            $brand-red;

$brand-color:             $brand-danger;

$btn-border-radius-base:  20px;
$btn-border-radius-large: 25px;
$btn-border-radius-small: 10px;
$btn-default-bg:          transparent;
$btn-default-color:       $text-color;
$btn-default-border:      $text-color;


// шапка
//
$header-text:             $gray-darkest;
$header-bkg:              transparent;
$header-shadow:           none;

// меню
//
$menu-item-color:         $gray-darkest;
$menu-item-hover-color:   $gray-dark;
$menu-item-active-color:  $gray-darkest;

// подвал
//
$footer-bkg:              #454545;
$footer-text:             $gray;

// формы
//
$input-height-base:         44px;
$padding-base-vertical:     10px;
$padding-large-horizontal:  20px;

$input-focus-color:         $brand-blue;
$input-bg-color:            transparent;
